# vcno-rbno repository: https://github.com/qy849/vcno-rbno.git
# vcno-rbno commit: b12b6ab09e9a178972bf2606c14a6add46ca892c
annotated-types==0.7.0
click==8.1.8
configmypy==0.2.0
crc32c==2.7.1
docker-pycreds==0.4.0
donfig==0.8.1.post1
einops==0.8.1
filelock==3.17.0
fsspec==2025.3.0
gitdb==4.0.12
gitpython==3.1.44
h5py==3.13.0
iniconfig==2.1.0
ipywidgets==8.1.7
jupyterlab-widgets==3.0.15
line-profiler==5.0.0
more-itertools==10.7.0
mpmath==1.3.0
networkx==3.4.2
neuraloperator==1.0.2
numcodecs==0.16.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
opt-einsum==3.4.0
pip==25.3
pluggy==1.5.0
protobuf==5.29.4
pydantic==2.11.3
pydantic-core==2.33.1
pytest==8.3.5
pytest-mock==3.14.0
ruamel-yaml==0.18.10
sentry-sdk==2.26.1
setproctitle==1.3.5
smmap==5.0.2
sympy==1.13.1
tensorly==0.9.0
tensorly-torch==0.5.0
torch==2.6.0
torch-harmonics==0.7.3
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
trame==3.11.0
trame-client==3.9.1
trame-common==1.0.1
trame-server==3.5.0
triton==3.2.0
typing-inspection==0.4.0
wandb==0.19.9
widgetsnbextension==4.0.14
wslink==2.3.4
zarr==3.0.7
